/* body {
  padding: 0;
  margin: 0;
}

#map_id,
body,
html {
  height: 100%;
} */

.leaflet-popup-content {
  text-align: center;
}

.text-center {
  background-color: rgb(131, 171, 245);
  color: rgb(253, 250, 239);
  text-align: center!important;
}

.row {
  background-color: rgb(131, 171, 245);
  padding-top: 10px;
}

.well {
  color: rgb(113, 138, 184);
  background-color: #ffffff;
}

h5{
  /* font-weight: bold; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(113, 138, 184);
  ;
}

h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0px;
  color: #ffffff;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  text-indent: 60;
  margin-left: 32%;
  scroll-padding-left: 50px;
  font-size: 20px;

}

/* #bar {
  padding-left: 10px;
  margin-left: 10px;
}  */

#bubble {
  width: 100%;
  height: 50%;
}

#scatter {
  padding-left: 15px;
  width: 100%;
  height: 100%;
}

#pie {
  margin-left: 20px;
}

.footer {
  background-color: rgb(154, 175, 212);
  border-top: rgb(94, 131, 201);
  border-top-style: solid;
  border-top-width: 5px;
  padding-bottom: 0px;
  padding-top: 5px;
  color: rgb(134, 103, 103);
  margin-right: 180px;
}

.dropdown-menu {
 background-color: #dee7f1;
 border-color: rgb(159, 190, 248);
}

#navbarSupportedContent{
  background-color: rgb(131, 171, 245);
  box-shadow: 0 5px #c5d5e7;
}

.nav-item a {
  color: rgb(100, 99, 99);
}

.navbar-brand {
  background-color: rgb(131, 171, 245);
  margin-left: 10px;
  /* font-weight: bold; */
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center!important;
  padding-top: 3px;
  padding: inherit;
  border-radius: 2px;
  box-shadow: 0 5px #c5d5e7;
}

#navbarSupportedContent{
  background-color: rgb(131, 171, 245);
  border-radius: 2px;
}

.rounded {
  width: 50%!important;
  height: 50%!important;
  margin-right: 20px;
}

/* .title {
  color: #0BADA5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 95px;
  font-weight: bold;
  font-size: 30px;
  text-indent: 20px;
} */

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0px;
  color: #ffffff;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  text-indent: 60;
  margin-left: 25%;
  scroll-padding-left: 50px;
  font-size: 20px;
} 

#landing_title { 
  /* margin-top: 0px; */
  padding-top: 70px;
  margin-left: 30px;
  padding-bottom: 15px;
  color: #ffffff; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-indent: 45px;
  font-size: 72px;
}

.col-6 {
  max-width: 50%;
}

.col-3 {
  max-width: 100%;
  padding-bottom: 20px;
}

.box {
  background-color: rgb(131, 171, 245);
  padding-bottom: 20px;
  
}

/* .box p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35px;
  color: rgb(90, 118, 142);
  padding: 0px 20px 15px;
  font-size: 16px;
} */

/* #visual_box p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  color: rgb(90, 118, 142);
  padding: 0px 20px 15px;
  font-size: 16px;
} */

/* .box li {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(90, 118, 142);
} */
.box h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(90, 118, 142);
  font-weight: bold;
  text-indent: 20px;
}

@media screen and (max-width: 600px) {
  .box {
    background-color: #f0f4fa;
  }
   /* .active, .img-thumbnail:hover {
    border-color: rgb(81, 11, 173);
    border-width: 2px;
  }
  .img-thumbnail:hover {
    border-color: rgb(147, 88, 255);
  } */

  .navbar-brand {
    /* padding: 5px; */
    background-color: rgb(131, 171, 245);
    box-shadow: 0 5px rgb(131, 171, 245);
    padding-top: 15px;
   
  }
  #navbarSupportedContent{
    background-color: rgb(227, 236, 252);
    border-radius: 2px;
  }
  
  .navbar-expand-lg {
    background-color: rgb(131, 171, 245) !important;
  }

  /* .navbar-toggler {
    background-color: rgb(247, 247, 247);
    border-style: ridge;

  } */

/* 
.container {
  background-color:rgb(0, 140, 255);
} */

/* h1 {
  background-color: cornflowerblue;
} */
/* body {
  margin: 0;
  padding: 0;
  background-color:rgb(131, 171, 245);
} */


/* #map_id {
  height: 600px;
  width: 600px;
} */



/* CSS from the Leaflet-Choropleth documentation
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
} */
