
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>project2</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
      <link rel="stylesheet" type="text/css" href="../static/css/mapStyle.css">
      <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  
  <body>
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    <script type="text/javascript" src="static/js/animation.js"></script>

  </body>