<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>state bubble</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bubblestyle.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
   <!-- set up nav bar -->
    
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand text-white" href="/">Food Insecurity Home Page </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="chartIndex" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maps
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="state">US States Data</a>
            <a class="dropdown-item" href="statebubble">US States Bubble</a>
            <a class="dropdown-item" href="county">US County Data</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
    </ul>
  </div>
</nav>
<!-- set up title and container for bubble-->
<div class="container_background_gray">
  <div class="row">
      <div class="col-lg- col-sm-12" style="background-color: whitesmoke;">
        <div class="box">
        <br>
            <h1 class="title" id="bubble_title">Food Insecurity in the United States</h1>
            <hr>
        </div>
      </div>

 <div class ="container">
 
  <div class="container"> 
    <div class="col-md-12"> 
    </div>
    <div class ="row">
    <div class="col-md-7" style = "padding-bottom: 10px;">
      <div id="circleID"></div>
      <div id="note">
        <p>In this layout you will note the states are represented by their Food Insecurity Count.</p>
        <p>Larger or coastal states account for the majority of enlarged bubbles. These states tend to be more popular as well, which can attribute to their high numbers.</p>
        <hr>
        <h5 id="info_bubble">For additional data comparisons head to the home page; or for more detailed information view one of the maps.</h5>
        <br>
      </div>
      <svg width="1200" height="1000">
        <g></g>
      </svg>
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    
    <!-- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/chroma.js"></script>
    
    <!-- JS -->
    <script type="text/javascript" src="static/js/bubble.js"></script>
    <script type="text/javascript" src="static/js/statebubble.js"></script>

    <div class="footer text-center" style="margin-bottom:0">
      <p>&copy; Copyright Marlene Vasquez 2020</p>
    </div>
  </body>

</html>



